// Loading libraries
// Collectioin of mixins
@import "libs/bourbon/_bourbon",

// Loading mixins
// "base/mixins/"

// Loading base/generic classes
"base/_palette",
"base/_variables",
"base/_web-fonts",
"base/_images",
"base/_reuse",
"base/_root",
"base/_typography",

// First loading error & loading template classes
"templates/_loading",
"templates/_error",

//Loading all UI elements
"elements/_buttons",
"elements/_icons",
"elements/_links",
"elements/_input-fields",

// Loading components
"components/_search-bar",
"components/_nav",
"components/_menu",
"components/_sidebar",

// Loading templates specific classes
"templates/_alert-msg",
"templates/_forms",

// Loading page specific classes
"pages/_404.scss",
"pages/_home-page.scss"